.cardOperator {
    width: 100%;
    background-color: #F5F7FF;
}

.cardOperator-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 65px 65px 50px 65px;
    background-image: url(../../../Image/operator.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.cardOperator p {
    color: #313131;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.productSupport, .faqSupport, .guide {
    display: flex;
    justify-content: space-between;
    width: 33%;
    align-items: center;
    border: 1px solid #CACDD8;
    background-color: #FFF;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 15px;
}